<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net47" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net47" />
  <package id="FleetOnline.MicroServices.BusinessUtilities" version="1.0.37" targetFramework="net47" />
  <package id="FleetOnline.MicroServices.Utilities" version="1.0.37" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net47" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.ServiceFabric" version="5.6.220" targetFramework="net47" />
  <package id="Microsoft.ServiceFabric.Data" version="2.6.220" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net47" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
</packages>